<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schnack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Perfect place to go bananas with your friends</h1>
    <p>Let go of Ouija Boards. Connect with people on Schnack!</p>
    <p>Schnack makes it easy to hangout with friends and socialize with people. Use this platform to liberate your communication. TODAY!</p>
    <form action="{{ url_for('lobby_redirect') }}" method="POST">
        <input class="form-control" type="text" maxlength="15" name="username" spellcheck="false" placeholder="Enter a username" autocomplete="off" required>
        <button type="submit">Start</button>
    </form>
    <h1>Rooms with plenty of space to talk</h1>
    <p>We've got dedicated chat rooms for every conversation. Think your message will miss out? Neither ever nor never!</p>
    <h1>Where you can speak your heart out</h1>
    <p>Grab a seat in a public chat room when you’re free. You may well make friends without much efforts.</p>
    <h1>Private rooms where nobody could get your goat</h1>
    <p>Your password and our server are perfect for each other. Never believe anything else.</p>
</body>
</html>