<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='lobby.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello {{ username }}</h1>
    <a href="{{ url_for('logout') }}">Log out</a>
    <h2>Message Here</h2>
    <input id="msg">
    <button id="send">Send</button>
    <ul id="messages">
        {% for msg in messages %}
        <li>{{ msg[1] }}: {{ msg[0] }}</li>
        {% endfor %}
    </ul>
</body>

</html>