<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='lobby.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/lobby.css">
</head>

<body>
    <div id="outer-div">
        <div id="left-outer">
            <div id="left">
                <div id="left-first-half">
                    <h1 id="myusername" data-toggle="collapse" href="#collapseLogout" role="button"
                        aria-expanded="false" aria-controls="collapseLogout">
                        <div id="online-dot"></div>{{ username|capitalize }}
                        <svg class="svg-icon" viewBox="0 0 20 20" id="collapseArrow">
                            <path fill="#f2f2f4"
                                d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z">
                            </path>
                        </svg>
                    </h1>
                    <div class="collapse" id="collapseLogout">
                        <div id="collapseLogoutinside">
                            <a href="{{ url_for('logout') }}">Log out</a>
                        </div>
                    </div>
                    <div id="left-second-half">
                        <div class="buttons-container">
                            <!-- <svg height="25" viewBox="0 0 16 16" class="bi bi-chat-dots-fill" fill="#161626"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#allchatrooms">
                                Explore Chatrooms
                            </button>
                        </div>

                        <div class="buttons-container">
                            <!-- <svg height="25" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="#161626"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
                            </svg> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#createchatroom">
                                Add a Chatroom
                            </button>
                        </div>
                    </div>

                    <div id="mychatroomspluslist">
                        <div id="mychatroomsheading-container" data-toggle="collapse" href="#collapseChatrooms"
                            role="button" aria-expanded="false" aria-controls="collapseChatrooms">
                            <h1 id="mychatroomsheading">
                                <svg viewBox="0 0 16 16" class="bi bi-caret-down-fill" id="circledArrow" fill="#161626"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                </svg>
                                My Chatrooms
                            </h1>
                        </div>
                        <div class="collapse show" id="collapseChatrooms">
                            <ul id="mychatrooms">
                                {% for chatroom in mychatrooms %}
                                <li class="list-unstyled mychatrooms-li-element">
                                    <a href="" class="mychatroom-links">{{chatroom}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-outer">
            <div id="right">
                <h1 id="chatroom-heading"></h1>
                <div id="messages-container">
                    <ul id="messages">

                    </ul>
                </div>
                <div id="input-container-outer">
                    <div id="input-container">
                        <input id="msg" spellcheck="false" autocomplete="off" placeholder="Type a message">
                        <button id="send">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path d="M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0
                            l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109
                            c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483
                            c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788
                            S1.293,9.212,1.729,9.212z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All MODALS -->
    <!-- Modal -->
    <div class="modal fade" id="allchatrooms" tabindex="-1" role="dialog" aria-labelledby="joinchatroom"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinchatroom">Wanna Hang Out?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="activechatrooms">
                        {% for key in messages %}
                        {% if key == "home" %}
                        <li class="list-unstyled">
                            <a data-dismiss="modal" href="" id="home" class="chatroom-links" data-toggle="modal"
                                data-target="#verifypassword">{{key}}</a>
                        </li>
                        {% else %}
                        <li class="list-unstyled">
                            <a data-dismiss="modal" href="" class="chatroom-links" data-toggle="modal"
                                data-target="#verifypassword">{{key}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for PASSWORD -->
    <div class="modal fade" tabindex="-1" role="dialog" id="verifypassword" aria-labelledby="verifypassword"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinlobbytitle">Tryna break in?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="joinlobbypasswordheading">
                    <h6>Password</h6>
                    <input type="password" id="checkpassword" placeholder="Password" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="passwordenter" data-dismiss="modal">Enter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="createchatroom" aria-labelledby="createchatroom"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createchatroom">Oh, a Chatroom!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Name</h6>
                    <input type="text" id="namechatroom" maxlength="25" placeholder="{{username|capitalize}}'s Chatroom"
                        autocomplete="off" spellcheck="false" class="form-control">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkprivate">
                        <label class="form-check-label" for="checkprivate">Private</label>
                    </div>
                    <div id="private-div"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const arrow = document.querySelector('#collapseArrow');
    const arrowplusname = document.querySelector('#myusername');
    arrowplusname.addEventListener("click", () => {
        arrow.classList.toggle("open");
    });

    const circledarrow = document.querySelector('#circledArrow');
    const arrowpluschatrooms = document.querySelector('#mychatroomsheading');
    arrowpluschatrooms.addEventListener("click", () => {
        circledarrow.classList.toggle("open");
    });

    const mybutton = document.querySelector('#send');
    mybutton.addEventListener("click", () => {
        scrollingElement = document.querySelector('#messages');
        // scrollingElement.scrollTop = scrollingElement.scrollHeight;
        // console.log(scrollingElement.scrollTop);
        scrollingElement.scrollTop = scrollingElement.scrollHeight - scrollingElement.clientHeight;
        // console.log(scrollingElement.scrollTop);
        // console.log(scrollingElement.scrollHeight);
    });
</script>

</html>