<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='lobby.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello {{ username }}</h1>
    <a href="{{ url_for('logout') }}">Log out</a>
    <br>
    <h2>Active Chatrooms</h2>
    <div id="activechatrooms">
    </div>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add a Chatroom
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Oh, a Chatroom!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Name</h6>
                    <input type="text" id="namechatroom" placeholder="{{username|capitalize}}'s Chatroom" autocomplete="off">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>

    <h2>Message Here</h2>
    <input id="msg">
    <button id="send">Send</button>
    <ul id="messages">
        {% for msg in messages["home"] %}
        {% if date == msg[3] %}
        <li>
            <b>{{ msg[1] }}</b> Today at {{ msg[2] }}: {{ msg[0] }}
        </li>
        {% elif (date[0:2]|int - msg[3][0:2]|int) == 1 %}
        <li>
            <b>{{ msg[1] }}</b> Yesterday at {{ msg[2] }}: {{ msg[0] }}
        </li>
        {% else %}
        <li>
            <b>{{ msg[1] }}</b> on {{ msg[3][8:11] }} {{ msg[3][0:2] }} {{ msg[3][4:8] }} at {{ msg[2] }}: {{ msg[0] }}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>