@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
}

a {
  color: #1ebad6;
}

a:hover {
  text-decoration: none;
  color: #1ebad6;
  opacity: 0.7;
}

hr {
  color: #1ebad6;
  background: #1ebad6;
}

#outer-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#outer-div #left-outer {
  padding: 20px;
  background: linear-gradient(45deg, #090c1f, #151531);
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#outer-div #left-outer #left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#outer-div #left-outer #left #myusername {
  color: #f2f2f4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#outer-div #left-outer #left #myusername #collapseArrow {
  height: 25px;
  width: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 15px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

#outer-div #left-outer #left #myusername #collapseArrow.open {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#outer-div #left-outer #left #online-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #00c957;
}

#outer-div #left-outer #left #collapseLogout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 20px;
}

#outer-div #left-outer #left #mychatroomsheading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#outer-div #left-outer #left #mychatroomsheading-container svg {
  margin-right: 10px;
  margin-top: 5px;
  height: 15px;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b3a4a;
  font-size: 1.2rem;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading #circledArrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading #circledArrow.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#outer-div #left-outer #left .mychatrooms-li-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer-div #left-outer #left .mychatrooms-li-element:before {
  content: '#';
  color: #3b3a4a;
  font-size: 1.4rem;
  margin-right: 10px;
}

#outer-div #left-outer #left button {
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20px;
  height: 46px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  color: #3b3a4a;
  background: #f2f2f4;
}

#outer-div #left-outer #left .buttons-container {
  position: relative;
}

#outer-div #left-outer #left .buttons-container svg {
  position: absolute;
  top: 8px;
  left: 5px;
  pointer-events: none;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  height: 30px;
}

#outer-div #left-outer #left #mychatroomspluslist:hover,
#outer-div #left-outer #left button:hover,
#outer-div #left-outer #left button:focus,
#outer-div #left-outer #left button:active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 1px 3px #1ebad6, 0px -0.7px 3px #1ebad6;
          box-shadow: 0px 1px 3px #1ebad6, 0px -0.7px 3px #1ebad6;
}

#outer-div #left-outer #left #mychatroomspluslist {
  border-radius: 25px;
  padding: 10px 15px 5px 15px;
  border: none;
  color: #161626;
  background: #f2f2f4;
  margin-bottom: 20px;
  margin-top: 30px;
}

#outer-div #right-outer {
  width: 100%;
  margin-right: 300px;
  padding: 20px;
  background: #f2f2f4;
  overflow-y: auto;
}
/*# sourceMappingURL=lobby.css.map */