@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
}

a {
  color: #1ebad6;
}

a:hover {
  text-decoration: none;
  color: #1ebad6;
  opacity: 0.7;
}

hr {
  color: #1ebad6;
  background: #1ebad6;
}

#outer-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#outer-div #left-outer {
  background: linear-gradient(170deg, #090c1f, #151531);
  position: fixed;
  right: 0;
  height: 100%;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

#outer-div #left-outer #left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#outer-div #left-outer #left #myusername {
  margin: 0;
  background: #161626;
  opacity: 0.8;
  width: 100%;
  padding: 20px;
  color: #f2f2f4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#outer-div #left-outer #left #myusername #collapseArrow {
  height: 25px;
  width: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

#outer-div #left-outer #left #myusername #collapseArrow.open {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#outer-div #left-outer #left #online-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #00c957;
}

#outer-div #left-outer #left #collapseLogout {
  background: #161626;
  opacity: 0.8;
  width: 100%;
  margin-top: -20px;
  padding-bottom: 10px;
}

#outer-div #left-outer #left #collapseLogoutinside {
  padding: 15px 15px 15px 20px;
}

#outer-div #left-outer #left #mychatroomsheading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#outer-div #left-outer #left #mychatroomsheading-container svg {
  margin-right: 10px;
  margin-top: 5px;
  height: 15px;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c0c0c8;
  font-size: 1.2rem;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading #circledArrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#outer-div #left-outer #left #mychatroomsheading-container #mychatroomsheading #circledArrow.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#outer-div #left-outer #left .mychatrooms-li-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer-div #left-outer #left #left-second-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#outer-div #left-outer #left #buttons-container {
  width: 100%;
}

#outer-div #left-outer #left button {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  margin: 15px 0px;
  width: 145px;
  padding: 20px;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #3b3a4a;
  background: #f2f2f4;
  opacity: 0.8;
}

#outer-div #left-outer #left button:active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  letter-spacing: 2px;
}

#outer-div #left-outer #left button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#outer-div #left-outer #left button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #1ebad6;
}

#outer-div #left-outer #left #mychatroomspluslist {
  border: none;
  color: #c0c0c8;
  background: #3b3a4a;
  margin-bottom: 30px;
  opacity: 0.8;
}

#outer-div #left-outer #left #mychatroomspluslist a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f2f2f4;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #3b3a4a;
  color: #161626;
}

#outer-div #left-outer #left #mychatroomspluslist a:hover {
  background: #3b3a4a;
  color: #f2f2f4;
}

#outer-div #right-outer {
  width: 100%;
  margin-right: 350px;
  padding: 20px;
  background: #f2f2f4;
  overflow-y: auto;
}

#outer-div #right-outer #messages-container {
  height: 400px;
  background: pink;
  overflow-y: auto;
}

#outer-div #right-outer #messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#outer-div #right-outer #right #chatroom-heading {
  font-weight: bold;
  color: #3b3a4a;
}
/*# sourceMappingURL=lobby.css.map */